<a href="https://colab.research.google.com/github/vinay2k2/MathsBehindMLandDL/blob/main/Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Set Introduction


```
# Unordered collection of unique elements
```

In [1]:
# We call set() function to create set also we can use {} to create set however this doesn't allow us to create set
integer_set = set([1,2,3,4,5])
integer_set

{1, 2, 3, 4, 5}

In [2]:
type(integer_set)

set

In [3]:
character_set = set('String Characters would be split and used')
character_set

{' ',
 'C',
 'S',
 'a',
 'b',
 'c',
 'd',
 'e',
 'g',
 'h',
 'i',
 'l',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'w'}

In [4]:
# we can also use {} to to create set
states_set = {'Alpha','Beta','Gamma'}
states_set

{'Alpha', 'Beta', 'Gamma'}

In [5]:
type(states_set)

set

In [6]:
# set() can be used to create empty set however {} cannot be used to create an empty set
valid_empty_set = set()
type(valid_empty_set)

set

In [7]:
# set() can be used to create empty set however {} cannot be used to create an empty set
in_valid_empty_set = {}
type(in_valid_empty_set)

dict

In [8]:
# As Tuple is immutable we can have tuple as a member in set, but we cannot have list or dictionary as set member.
mixed_set = {0,1,(2,3,4),5,2.712}
mixed_set

{(2, 3, 4), 0, 1, 2.712, 5}

In [9]:
#Set generates hash and use the unique elemets, if you try to include anything unhashable it complains
ss = {"hello",1,[1,2]}

TypeError: ignored

In [10]:
#we can add using add funtion
mixed_set.add("alpha")
mixed_set

{(2, 3, 4), 0, 1, 2.712, 5, 'alpha'}